<p id="notice"><%= notice %></p>

<p>
  <b>Courseprofessor:</b>
  <%= @grade.CourseProfessor %>
</p>

<p>
  <b>Semester:</b>
  <%= @grade.semester %>
</p>

<p>
  <b>Gpa:</b>
  <%= @grade.gpa %>
</p>

<p>
  <b>Count a:</b>
  <%= @grade.count_a %>
</p>

<p>
  <b>Count aminus:</b>
  <%= @grade.count_aminus %>
</p>

<p>
  <b>Count bplus:</b>
  <%= @grade.count_bplus %>
</p>

<p>
  <b>Count b:</b>
  <%= @grade.count_b %>
</p>

<p>
  <b>Count bminus:</b>
  <%= @grade.count_bminus %>
</p>

<p>
  <b>Count cplus:</b>
  <%= @grade.count_cplus %>
</p>

<p>
  <b>Count c:</b>
  <%= @grade.count_c %>
</p>

<p>
  <b>Count cminus:</b>
  <%= @grade.count_cminus %>
</p>

<p>
  <b>Count dplus:</b>
  <%= @grade.count_dplus %>
</p>

<p>
  <b>Count d:</b>
  <%= @grade.count_d %>
</p>

<p>
  <b>Count dminus:</b>
  <%= @grade.count_dminus %>
</p>

<p>
  <b>Count f:</b>
  <%= @grade.count_f %>
</p>

<p>
  <b>Count drop:</b>
  <%= @grade.count_drop %>
</p>

<p>
  <b>Count withdraw:</b>
  <%= @grade.count_withdraw %>
</p>

<p>
  <b>Count other:</b>
  <%= @grade.count_other %>
</p>


<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
