<h1>Listing semesters</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Season</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @semesters.each do |semester| %>
  <tr>
    <td><%= semester.number %></td>
    <td><%= semester.season %></td>
    <td><%= semester.year %></td>
    <td><%= link_to 'Show', semester %></td>
    <td><%= link_to 'Edit', edit_semester_path(semester) %></td>
    <td><%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Semester', new_semester_path %>
