<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @semester.number %>
</p>

<p>
  <b>Season:</b>
  <%= @semester.season %>
</p>

<p>
  <b>Year:</b>
  <%= @semester.year %>
</p>


<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
