<%= form_for(@subdepartment) do |f| %>
  <% if @subdepartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subdepartment.errors.count, "error") %> prohibited this subdepartment from being saved:</h2>

      <ul>
      <% @subdepartment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mnemonic %><br />
    <%= f.text_field :mnemonic %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
