<h1>Listing subdepartments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mnemonic</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subdepartments.each do |subdepartment| %>
  <tr>
    <td><%= subdepartment.name %></td>
    <td><%= subdepartment.mnemonic %></td>
    <td><%= subdepartment.department %></td>
    <td><%= link_to 'Show', subdepartment %></td>
    <td><%= link_to 'Edit', edit_subdepartment_path(subdepartment) %></td>
    <td><%= link_to 'Destroy', subdepartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subdepartment', new_subdepartment_path %>
