%h1 My Account
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  .row-fluid
    .span6
      = f.label :email, "Email:"
  .row-fluid
    .span6
      = f.email_field :email, :autofocus => true


  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}

  %br

  .row-fluid
    .span6
      = f.label :password, "New Password:"
      %i (leave blank if you don't want to change it)      
    .span6
      = f.label :password_confirmation, "Confirm New Password:"
  .row-fluid
    .span6
      = f.password_field :password, :autocomplete => "off", :style => "float:left;"
    .span6
      = f.password_field :password_confirmation
  
      
  
  %br

  = fields_for @student do |s|
    .row-fluid
      .span4.major1 
        Major 1:
        %br
        %i (leave blank if you don't have one)
      .span4.major2 
        Major 2: 
        %br
        %i (leave blank if you don't have one)
      .span4.major3 
        Major 3:
        %br
        %i (leave blank if you don't have one)
    .row-fluid
      .span4.major1
        = select_tag :major1, options_for_select(@majors_list, @major_ids[0]), :include_blank => true
      .span4.major2
        = select_tag :major2, options_for_select(@majors_list, @major_ids[1]), :include_blank => true
      .span4.major3
        = select_tag :major3, options_for_select(@majors_list, @major_ids[2]), :include_blank => true
  
  %br

  .row-fluid
    .span6
      = f.label :current_password, "Current Password:", :style => "font-weight: bold;"
  .row-fluid
    .span6
      = f.password_field :current_password
  .row-fluid
    .span4
      %i (we need your current password to confirm your changes)

  %br

  %div= f.submit "Update", :class => "btn btn-primary"

  
-# //commented account cancelling for now
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
  = link_to "Back", :back
