%h1 Search results

.container
  %ul
    - if @result.size < 1
      %li No results, #{@query_url}
    - else
      - @result.each do |r|
        %li
          = link_to "#{r["subdepartment_code"]} #{r["course_number"]} #{r["first_name"]} #{r["last_name"]}", course_professors_path(:p => r["professor_id"].to_i, :c => r["course_id"].to_i)
