<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Graduation Year" %><br />
    <%= f.select :grad_year, [[@student.grad_year-4],[@student.grad_year-3],[@student.grad_year-2],[@student.grad_year-1],[@student.grad_year],[@student.grad_year+1],[@student.grad_year+2],[@student.grad_year+3],[@student.grad_year+4]] %>
  </div>
  <%= fields_for(@user) do |u| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label "Password" %>
      <%= f.text_field :old_password %>
    </div>
    <div class="field">
      <%= f.label "Confirm Password" %>
      <%= f.text_field :old_password_confirm %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
