<h1>Listing users</h1>
<%= will_paginate %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Graduation</th>
    <th>Major1</th>
    <th>Major2</th>
    <th>Major3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.graduation %></td>
    <td><%= user.major1 %></td>
    <td><%= user.major2 %></td>
    <td><%= user.major3 %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate %>
<%= link_to 'New User', new_user_path %>
