%h2 Arts &amp; Sciences Departments

%ul.left
  - @artDeps[0].each do |d|
    %li= link_to d.name, d
%ul.right
  - @artDeps[1].each do |d|
    %li= link_to d.name, d

%h2 Engineering &amp; Applied Sciences

%ul.left
  - @engrDeps[0].each do |d|
    %li= link_to d.name, d
%ul.right
  - @engrDeps[1].each do |d|
    %li= link_to d.name, d

%h2 Others Schools at the University of Virginia

%ul.left
  - @otherSchools[0].each do |s|
    %li= link_to s.name, s
%ul.right
  - @otherSchools[1].each do |s|
    %li= link_to s.name, s
