<% provide(:title, "New Department") %>
<h1>New Department</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@department) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :prefix %>
      <%= f.text_field :prefix %>

      <%= f.submit "Create New Department", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>