<h1>Listing sections</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Professor</th>
    <th>Rate overall</th>
    <th>Rate professor</th>
    <th>Rate fun</th>
    <th>Rate difficulty</th>
    <th>Rate recommend</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%= section.course_id %></td>
    <td><%= section.professor_id %></td>
    <td><%= section.rate_overall %></td>
    <td><%= section.rate_professor %></td>
    <td><%= section.rate_fun %></td>
    <td><%= section.rate_difficulty %></td>
    <td><%= section.rate_recommend %></td>
    <td><%= link_to 'Show', section %></td>
    <td><%= link_to 'Edit', edit_section_path(section) %></td>
    <td><%= link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section', new_section_path %>
