- if @user.errors.any?
  %h2
    =pluralize(@users.errors.count, "Error")
    "stopped you from signing up:""
  %ul
    - @user.errors.full_messages.each do |msg|
      %li= msg

-# This won't display the error messages - need to manually add the errors, since this form is outside of the devise controller
  
= form_for @user, :url => registration_path(:user) do |f|
  = f.text_field :first_name, {:placeholder => "First Name"}
  = f.text_field :last_name, {:placeholder => "Last Name"}
  = f.text_field :email, {:placeholder => "UVa Email Address"}
  = f.password_field :password, {:placeholder => "New Password"}
  = f.password_field :password_confirmation, {:placeholder => "Confirm Password"}
  %br
  = f.submit 'Sign Up!', {:class => 'btn btn-large btn-primary'}