- if @user.errors.any?
  %h2
    =pluralize(@users.errors.count, "Error")
    "stopped you from signing up:""
  %ul
    - @user.errors.full_messages.each do |msg|
      %li= msg

-# This won't display the error messages - need to manually add the errors, since this form is outside of the devise controller
  
= form_for @user, :url => registration_path(:user) do |f|
  .row-fluid
    .span6
      = f.text_field :first_name, {:placeholder => "First Name"}
  .row-fluid
    .span6
      = f.text_field :last_name, {:placeholder => "Last Name"}
  .row-fluid
    .span6
      = f.email_field :email, {:placeholder => "UVa Email Address"}
  .row-fluid
    .span6
      = f.password_field :password, {:placeholder => "Password: at least 8 characters"}
  .row-fluid
    .span6
      = f.password_field :password_confirmation, {:placeholder => "Confirm Password"}
  .row-fluid
    = f.submit 'Sign Up!', :class => 'btn btn-large btn-primary', :id => "sign-up-button"