<%= form_for(@course_professor) do |f| %>
  <% if @course_professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_professor.errors.count, "error") %> prohibited this course_professor from being saved:</h2>

      <ul>
      <% @course_professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course %><br />
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :professor %><br />
    <%= f.text_field :professor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
