.course-professor-h1
  .row-fluid
    .span12
      %h1{:title => "#{@course.title}"} #{@subdepartment.mnemonic} #{@course.course_number} - #{@course.title}
  .row-fluid
    %select.course-professor-switcher
      - @professors.each do |c|
        %option{value: "c=#{@course.id}&p=#{c.id}", selected: c.id == @professor.id, :style => (c.id == @professor.id ? "color: #d9551e;" : "")}="#{c.last_name}, #{c.first_name}"
    .review-button
      = link_to "Write your own review for this class!", new_review_path(:c => @course.id, :p => @professor.id), :class => "btn btn-primary"
  .bottom-border

.course-breakdown
  .course-stats
    %h2 Ratings
    %table.table.table-striped
      %tr
        %td{:style => "width: 15px;"}=image_tag "icons/heart.png"
        %td{:style => "width: 230px;"}Overall
        %td=@rev_ratings[:overall] ? @rev_ratings[:overall] : "--"
      %tr
        %td=image_tag "icons/user_gray.png"
        %td Professor
        %td=@rev_ratings[:prof] ? @rev_ratings[:prof] : "--"
      %tr
        %td=image_tag "icons/emoticon_smile.png"
        %td Fun-factor
        %td=@rev_ratings[:enjoy] ? @rev_ratings[:enjoy] : "--"
      %tr
        %td=image_tag "icons/pencil.png"
        %td Difficulty
        %td=@rev_ratings[:difficulty] ? @rev_ratings[:difficulty] : "--"
      %tr
        %td=image_tag "icons/user_comment.png"
        %td Recommend
        %td=@rev_ratings[:recommend] ? @rev_ratings[:recommend] : "--"

    - if @reviews.count > 0
      %h2 Emphasizes
      %table.table.table-striped
        %tr
          %th
          %th Avg Hrs/Week
          %th # Reviews
          %tr
            %td Reading
            %td=@rev_emphasizes[:reading] > 0 ? @rev_emphasizes[:reading] : "--"
            %td=@rev_emphasizes[:reading_count] > 0 ? @rev_emphasizes[:reading_count] : "--"
          %tr
            %td Writing
            %td= @rev_emphasizes[:writing] > 0 ? @rev_emphasizes[:writing] : "--"
            %td= @rev_emphasizes[:writing_count] > 0 ? @rev_emphasizes[:writing_count] : "--"
          %tr
            %td Group
            %td= @rev_emphasizes[:group] > 0 ? @rev_emphasizes[:group] : "--"
            %td= @rev_emphasizes[:group_count] > 0 ? @rev_emphasizes[:group_count] : "--"
          %tr
            %td Other HW
            %td=@rev_emphasizes[:homework] > 0 ? @rev_emphasizes[:homework] : "--"
            %td=@rev_emphasizes[:homework_count] > 0 ? @rev_emphasizes[:homework_count] : "--"
          %tr
            %td Tests/Midterms
            %td --
            %td=@rev_emphasizes[:test_count] > 0 ? @rev_emphasizes[:test_count] : "--"
  .course-grades
    %h2 Grades (cumulative since Spring 2012)
    - if @grades.size > 0
      = render :partial => "grades", :locals => {:grades => @grades}
    - else
      %p There aren't any grade distributions available for this class. Sorry!




- if @reviews.count > 0
  - if @reviews.count > 1
    %h2 #{@reviews_temp.count} Reviews
  - else
    %h2 #{@reviews_temp.count} Review
  = will_paginate @reviews
  %hr
  - @reviews.each do |r|
    - if r.comment.length > 0
      .single-review
        %ul.meta
          %li= r.created_at.strftime("%Y-%m-%d")
        .comment= r.comment
        %ul.ratings
          %li.overall= r.overall
          %li.professor_rating= r.professor_rating
          %li.enjoyability= r.enjoyability
          %li.difficulty= r.difficulty
          %li.recommend= r.recommend
  = will_paginate @reviews
- else
  %h2 No reviews :(
  = link_to "Be the first to write a review for this class!", new_review_path(:c => @course.id, :p => @professor.id), :class => "btn btn-primary"