<h1>Listing course_professors</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Professor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @course_professors.each do |course_professor| %>
  <tr>
    <td><%= course_professor.course %></td>
    <td><%= course_professor.professor %></td>
    <td><%= link_to 'Show', course_professor %></td>
    <td><%= link_to 'Edit', edit_course_professor_path(course_professor) %></td>
    <td><%= link_to 'Destroy', course_professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course professor', new_course_professor_path %>
