<p id="notice"><%= notice %></p>

<p>
	<h1><%= @subdepartment.mnemonic %> <%=@course.course_number%> - <%= @course.title %></h1>
</p>

<p>
	<h2><%= link_to @professor.preferred_name + " " + @professor.last_name, @professor %> </h2>
</p>



<%= link_to 'Edit', edit_course_professor_path(@course_professor) %> |
<%= link_to 'Back', course_professors_path %>
