%p#notice= notice

%h1 #{@subdepartment.mnemonic} #{@course.course_number} - #{@course.title} (#{@professor.first_name} #{@professor.last_name})

.row-fluid
  .span2
    %p
  .span7
    - if @grades.size > 0
      = render :partial => "grades", :locals => {:grades => @grades}
    - else
      %p There aren't any grade distributions available for this class. Sorry!
      
%p #{@course_professor.reviews.count} reviews


- @reviews.each do |r|
  - if r.comment.length > 0
    .review-container
      .row-fluid
        .span2
          %ul
            %li= r.created_at.strftime("%Y-%m-%d")
        .span9= r.comment
        .span1
          %ul
            %li= r.professor_rating
            %li= r.enjoyability
            %li= r.difficulty
            %li= r.recommend

