<p id="notice"><%= notice %></p>

<p>
	<h1><%= @subdepartment.mnemonic %> <%=@course.course_number%> - <%= @course.title %></h1>
</p>

<p>
	<h2><%= link_to @professor.first_name + " " + @professor.last_name, @professor %> </h2>
</p>

<p>
	<h3><%= link_to "Write a review for this class!", new_review_path %>
<p>