- content_for :title, @professor.full_name
%h1 #{@professor.full_name}
%ul.professor-courses
  - mnemonic = @courses.first.subdepartment.mnemonic
  - @courses.each do |c|
    - if c.subdepartment.mnemonic != mnemonic
      - mnemonic = c.subdepartment.mnemonic
      %br
    %li= link_to "#{c.subdepartment.mnemonic} #{c.course_number.to_s} - #{c.title}", course_professors_path(:p => @professor.id, :c => c.id)