<p id="notice"><%= notice %></p>

<p>
   <h1>
    <%= @professor.first_name %>
    <% if(@professor.preferred_name != @professor.first_name) %>
      <%= "\"" + @professor.preferred_name + "\"" %>
    <% end %>
    <%= @professor.last_name %>
  </h1>
</p>

<p>
  <%= @professor.email_alias %>@virgina.edu
</p>

<p>
  <b>Department:</b>
  <%= @professor.department %>
</p>

<p>
  <b>User:</b>
  <%= @professor.user %>
</p>


<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
