= javascript_include_tag "scheduler/manual"
%body
  #calendar
    .row
      .col-lg-3
        .btn.btn-primary#save-sections Save Sections
      .col-lg-3
        .btn.btn-primary#reset-sections Reset Saved Sections
      .col-lg-3
        .btn.btn-primary#clear-sections Clear Calendar
      .col-lg-3
        %h2 Class Search
    #schedule
      = link_to 'Export Saved Sections to iCal', '/scheduler.ics'  
  #search-bar
    %input#class-search{name: "class-search", type: "text"}
    %select#saved-courses
      %option -- Select Course --
      - current_user.courses.each do |course|
        %option= "#{course.subdepartment.mnemonic} #{course.course_number}"
      end
    .btn.btn-primary#clear-courses Clear Saved Courses
    %h5#results-title Results
    #results-box
    .btn.btn-primary#generate-schedules Generate Schedules
    .checkbox
      %label
        %input#fridays{:type => "checkbox"} Thirsty Thursdays
    .checkbox
      %label
        %input#mornings{:type => "checkbox"} Free Mornings (<10AM)
    .checkbox
      %label
        %input#evenings{:type => "checkbox"} Free Evenings (>5PM)
    %h5#schedules-title Schedules
    #schedules-box
    /.btn.btn-primary#export_ics Export to iCal file
    
  .course-result.hidden
    %a.remove
    %p.course-title
    %p.professor
    %p.location
  .course-info.hidden
    %a.remove
    %p.course-title
    %p.professor
    %p.description
    %p.location
  .schedule-result.hidden
    %a.remove
    %p.title