<%= form_for(@student_major) do |f| %>
  <% if @student_major.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_major.errors.count, "error") %> prohibited this student_major from being saved:</h2>

      <ul>
      <% @student_major.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student %><br />
    <%= f.text_field :student %>
  </div>
  <div class="field">
    <%= f.label :major %><br />
    <%= f.text_field :major %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
