<h1>Listing student_majors</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Major</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_majors.each do |student_major| %>
  <tr>
    <td><%= student_major.student %></td>
    <td><%= student_major.major %></td>
    <td><%= link_to 'Show', student_major %></td>
    <td><%= link_to 'Edit', edit_student_major_path(student_major) %></td>
    <td><%= link_to 'Destroy', student_major, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student major', new_student_major_path %>
