<p id="notice"><%= notice %></p>

<p>
  <h1><%= @subdepartment.mnemonic %> <%= @course.course_number %> - <%= @course.title %> </h1>
</p>

<ul>
   <% @course.professors_list.each do |professor| %>
  	<% @class = CourseProfessor.where({:professor_id => professor.id, :course_id => @course.id}) %>
  	<%= link_to professor.first_name + " " + professor.last_name, @class.first() %>
  	<br>
  <% end %>
  
</ul>


