<p id="notice"><%= notice %></p>

<p>
  <h1><%= @subdepartment.mnemonic %> <%= @course.course_number %> - <%= @course.title %> </h1>
</p>

<ul>
  <li><% @course.professors.each do |professor| %>
  	<% @class = CourseProfessor.where({:professor_id => professor.id, :course_id => @course.id}) %>
  	<%= link_to professor.first_name + " " + professor.last_name, @class.first() %>
  <% end %>
  </li>
</ul>



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
