= form_for @review do |f|
	- if(@review.errors.any?)
		#error#explaination
			%h2
				= pluralize(@review.errors.count, "error")
				= "prohibited this review from being saved:"
			%ul
				-	@review.errors.full_messages.each do |msg|
					%li
						= msg 
	%p
		%b What class are you reviewing?
	- if @subdept_id
		.row
			.col-md-12
				.row
					.col-md-4{:align=>"center", :id=>"departments"}
						= f.label 'Department (prefix):'
						= select_tag :subdept_select, options_for_select(@subdepartments.map{|s| [s.name + " (#{s.mnemonic})", s.id]}, @subdept_id), :include_blank => true, :class => "form-control"
					.col-md-4{:align=>"center", :id=>"courses"}
						= f.label 'Course:'
						= select_tag :course_select, options_for_select(@courses.map{|c| [@mnemonic + " #{c.course_number}", c.id]}, @course_id), :include_blank => true
					.col-md-4{:align=>"center", :id=>"professors"}
						= f.label 'Professor:'
						= select_tag :prof_select, options_for_select(@professors.map{|p| ["#{p.last_name}, #{p.first_name}", p.id]}, @prof_id), :include_blank => true
	- else
		.row	
			.col-md-12
				.row
					.col-md-4{:align=>"center", :id=>"departments"}
						= f.label 'Department (prefix):'
						= select_tag :subdept_select, options_for_select(@subdepartments.map{|s| [s.name + " (#{s.mnemonic})", s.id]}), :include_blank => true
					.col-md-4{:align=>"center", :style=>"display: none", :id=>"courses"}
						= f.label 'Course:'
						%select{:name=>"course_select", :id => "course_select"} 
					.col-md-4{:align=>"center", :style=>"display: none", :id=>"professors"}
						= f.label 'Professor:'
						%select{:name=>"prof_select", :id => "prof_select"} 
						
	%hr

	%p
		%b What semester did you take the course?
	- if @semester_season
		.row
			.col-md-12
				.row
					.col-md-3.col-md-offset-3{:align => "right"}
						= select_tag :semester_season, options_for_select(["Fall", "January", "Spring", "Summer"], @semester_season), :include_blank => true					
					.col-md-3{:align => "left"}
						= select_tag :semester_year, options_for_select(@years, @semester_year), :include_blank => true
	- else
		.row
			.col-md-12
				.row
					.col-md-3.col-md-offset-3{:align => "right"}
						= select_tag :semester_season, options_for_select(["Fall", "January", "Spring", "Summer"]), :include_blank => true					
					.col-md-3{:align => "left"}
						= select_tag :semester_year, options_for_select(@years), :include_blank => true
	%hr
	%p
		%b Grade the course:
	.row
		.col-md-12
			.row
				.col-md-6 
					.row
						.col-md-11{:align=>"center"}
							%b Professor Rating:
					.row
						.col-xs-3{:align=>"right"} Lowest
						.col-xs-1{:align=>"center"} 1
						.col-xs-1{:align=>"center"} 2
						.col-xs-1{:align=>"center"} 3
						.col-xs-1{:align=>"center"} 4
						.col-xs-1{:align=>"center"} 5
						.col-xs-3{:align=>"left"} Highest
					.row
						.col-xs-3
						.col-xs-1{:align=>"center"}= f.radio_button :professor_rating, 1.0 
						.col-xs-1{:align=>"center"}= f.radio_button :professor_rating, 2.0
						.col-xs-1{:align=>"center"}= f.radio_button :professor_rating, 3.0 
						.col-xs-1{:align=>"center"}= f.radio_button :professor_rating, 4.0 
						.col-xs-1{:align=>"center"}= f.radio_button :professor_rating, 5.0
						.col-xs-3
				.col-md-6
					.row
						.col-md-11{:align=>"center"}
							%b Fun Factor:
					.row
						.col-xs-3{:align=>"right"} Least Fun
						.col-xs-1{:align=>"center"} 1
						.col-xs-1{:align=>"center"} 2
						.col-xs-1{:align=>"center"} 3
						.col-xs-1{:align=>"center"} 4
						.col-xs-1{:align=>"center"} 5
						.col-xs-3{:align=>"left"} Most Fun
					.row
						.col-xs-3
						.col-xs-1{:align=>"center"}= f.radio_button :enjoyability, 1
						.col-xs-1{:align=>"center"}= f.radio_button :enjoyability, 2
						.col-xs-1{:align=>"center"}= f.radio_button :enjoyability, 3
						.col-xs-1{:align=>"center"}= f.radio_button :enjoyability, 4
						.col-xs-1{:align=>"center"}= f.radio_button :enjoyability, 5
						.col-xs-3
	.row
		.col-xs-12
			&nbsp
	.row
		.col-md-12
			.row
				.col-md-6 
					.row
						.col-md-11{:align=>"center"}
							%b Difficulty:
					.row
						.col-xs-3{:align=>"right"} Easiest
						.col-xs-1{:align=>"center"} 1
						.col-xs-1{:align=>"center"} 2
						.col-xs-1{:align=>"center"} 3
						.col-xs-1{:align=>"center"} 4
						.col-xs-1{:align=>"center"} 5
						.col-xs-3{:align=>"left"} Hardest
					.row
						.col-xs-3
						.col-xs-1{:align=>"center"}= f.radio_button :difficulty, 1
						.col-xs-1{:align=>"center"}= f.radio_button :difficulty, 2
						.col-xs-1{:align=>"center"}= f.radio_button :difficulty, 3
						.col-xs-1{:align=>"center"}= f.radio_button :difficulty, 4
						.col-xs-1{:align=>"center"}= f.radio_button :difficulty, 5
						.col-md-3
				.col-md-6 
					.row
						.col-md-11{:align=>"center"}
							%b Recommendability:
					.row
						.col-xs-3{:align=>"right"} Lowest
						.col-xs-1{:align=>"center"} 1
						.col-xs-1{:align=>"center"} 2
						.col-xs-1{:align=>"center"} 3
						.col-xs-1{:align=>"center"} 4
						.col-xs-1{:align=>"center"} 5
						.col-xs-3{:align=>"left"} Highest
					.row
						.col-xs-3
						.col-xs-1{:align=>"center"}= f.radio_button :recommend, 1
						.col-xs-1{:align=>"center"}= f.radio_button :recommend, 2
						.col-xs-1{:align=>"center"}= f.radio_button :recommend, 3
						.col-xs-1{:align=>"center"}= f.radio_button :recommend, 4
						.col-xs-1{:align=>"center"}= f.radio_button :recommend, 5
						.col-xs-3
	%hr
	.row
		.col-md-12
			.row
				.col-md-6
					.row
						.col-md-12
							%b This course emphasizes:
					.row
						.col-md-8.col-md-offset-4{:align=>"center"} Avg. # Hours/Week
					.row.average-stat
						.col-md-1{:valign=>"top"}
							%input{:type=>"checkbox", :id=>"readingbox", :onchange=>'setBox("readingbox","readingfield")', :checked => (@review.amount_reading > 0 ? true : false)}
						.col-md-3
							Reading:
						.col-md-8
							= f.number_field :amount_reading, :id => "readingfield", :disabled => (@review.amount_reading > 0 ? false : true), :value => (@review.amount_reading > 0 ? @review.amount_reading.to_i : ""), :min => 0
					.row.average-stat
						.col-md-1{:valign=>"top"}
							%input{:type=>"checkbox", :id=>"writingbox", :onchange=>'setBox("writingbox","writingfield")', :checked => (@review.amount_writing > 0 ? true : false)}
						.col-md-3
							Writing:
						.col-md-8
							= f.number_field :amount_writing, :id => "writingfield", :disabled => (@review.amount_writing > 0 ? false : true), :value => (@review.amount_writing > 0 ? @review.amount_writing.to_i : ""), :min => 0
					.row.average-stat
						.col-md-1{:valign=>"top"}
							%input{:type=>"checkbox", :id=>"groupbox", :onchange=>'setBox("groupbox","groupfield")', :checked => (@review.amount_group > 0 ? true : false)}
						.col-md-3
							Groupwork:
						.col-md-8
							= f.number_field :amount_group, :id => "groupfield", :disabled => (@review.amount_group > 0 ? false : true), :value => (@review.amount_group > 0 ? @review.amount_group.to_i : ""), :min => 0
					.row.average-stat
						.col-md-1{:valign=>"top"}
							%input{:type=>"checkbox", :id =>"homeworkbox", :onchange=>'setBox("homeworkbox","homeworkfield")', :checked => (@review.amount_homework > 0 ? true : false)}
						.col-md-3
							Homework:
						.col-md-8
							= f.number_field :amount_homework, :id => "homeworkfield", :disabled => (@review.amount_homework > 0 ? false : true), :value => (@review.amount_homework > 0 ? @review.amount_homework.to_i : ""), :min => 0
				.col-md-6
					.row
						.col-md-12
							%b Tell us more about the course/professor:
					.row
						.col-md-12
							&nbsp
					.row
						.col-md-12
							= f.text_area :comment, :placeholder=>"Write Your Review!"
	%hr

	

	.actions{:align=>"center"}
		= f.submit 'Submit Review!', :class => "btn btn-primary", :id => "review-button"








:javascript

	function setBox(check, text){
		var box = document.getElementById(check);
		if(box.checked)
			document.getElementById(text).disabled = false;
		else
		 document.getElementById(text).disabled = true;    
	}  
		
