<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :section_id %><br />
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :post_date %><br />
    <%= f.datetime_select :post_date %>
  </div>
  <div class="field">
    <%= f.label :rate_overall %><br />
    <%= f.text_field :rate_overall %>
  </div>
  <div class="field">
    <%= f.label :rate_professor %><br />
    <%= f.text_field :rate_professor %>
  </div>
  <div class="field">
    <%= f.label :rate_fun %><br />
    <%= f.text_field :rate_fun %>
  </div>
  <div class="field">
    <%= f.label :rate_difficulty %><br />
    <%= f.text_field :rate_difficulty %>
  </div>
  <div class="field">
    <%= f.label :rate_recommend %><br />
    <%= f.text_field :rate_recommend %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
