= form_for @review do |f|
	- if(@review.errors.any?)
		#error#explaination
			%h2
				= pluralize(@review.errors.count, "error")
				= "prohibited this review from being saved:"
			%ul
				-	@review.errors.full_messages.each do |msg|
					%li
						= msg 
	%p
		%b What class are you reviewing?
	.row-fluid	
		.span12
			.row-fluid
				.span4{:align=>"center", :id=>"deptarments"}
					= f.label 'Department:'
					%select{:name => "Subdepartment_Select", :id => "subdept_select"}
						= @subdepartments.each do |subdepartment|
							%option{:value=>subdepartment.id}
								= subdepartment.name
				.span4{:align=>"center", :style=>"display: none", :id=>"courses"}
					= f.label 'Course:'
					%select{:name=>"Course_Select", :id => "course_select"} 
						
				.span4{:align=>"center", :style=>"display: none", :id=>"professors"}
					= f.label 'Professor:'
					%select{:name=>"Professor_Select", :id => "prof_select"} 
						
	%hr

	%p
		%b What semester did you take the course?
	.row-fluid
		.span12
			.row-fluid
				.span6{:align => "right"}
					%select{:name => "semester_season", :id => "season_select"}
						%option{:value => "Fall"} Fall
						%option{:value => "January"} January
						%option{:value => "Spring"} Spring
						%option{:value => "Summer"} Summer 
				.span6{:align => "left"}
					%select{:name => "semester_year", :id => "year_select"}
						- (2010..Time.now.year).each do |a|
							%option{:value => (a)}
								= a
	%hr
	%p
		%b Grade the course:
	.row-fluid
		.span12
			.row-fluid
				.span6 
					.row-fluid
						.span1
						.span11{:align=>"center"}
							%b Professor Rating:
					.row-fluid
						.span4{:align=>"right"} Lowest
						.span1{:align=>"center"} 1
						.span1{:align=>"center"} 2
						.span1{:align=>"center"} 3
						.span1{:align=>"center"} 4
						.span1{:align=>"center"} 5
						.span3{:align=>"left"} Highest
					.row-fluid
						.span4
						.span1{:align=>"center"}= f.radio_button :professor_rating, 1 
						.span1{:align=>"center"}= f.radio_button :professor_rating, 2 
						.span1{:align=>"center"}= f.radio_button :professor_rating, 3 
						.span1{:align=>"center"}= f.radio_button :professor_rating, 4 
						.span1{:align=>"center"}= f.radio_button :professor_rating, 5
						.span3
				.span6
					.row-fluid
						.span1
						.span11{:align=>"center"}
							%b Fun Factor:
					.row-fluid
						.span4{:align=>"right"} Least Fun
						.span1{:align=>"center"} 1
						.span1{:align=>"center"} 2
						.span1{:align=>"center"} 3
						.span1{:align=>"center"} 4
						.span1{:align=>"center"} 5
						.span3{:align=>"left"} Most Fun
					.row-fluid
						.span4
						.span1{:align=>"center"}= f.radio_button :enjoyability, 1
						.span1{:align=>"center"}= f.radio_button :enjoyability, 2
						.span1{:align=>"center"}= f.radio_button :enjoyability, 3
						.span1{:align=>"center"}= f.radio_button :enjoyability, 4
						.span1{:align=>"center"}= f.radio_button :enjoyability, 5
						.span3
	.row-fluid
		.span12
			&nbsp
	.row-fluid
		.span12
			.row-fluid
				.span6 
					.row-fluid
						.span1
						.span11{:align=>"center"}
							%b Difficulty:
					.row-fluid
						.span4{:align=>"right"} Easiest
						.span1{:align=>"center"} 1
						.span1{:align=>"center"} 2
						.span1{:align=>"center"} 3
						.span1{:align=>"center"} 4
						.span1{:align=>"center"} 5
						.span3{:align=>"left"} Hardest
					.row-fluid
						.span4
						.span1{:align=>"center"}= f.radio_button :difficulty, 1
						.span1{:align=>"center"}= f.radio_button :difficulty, 2
						.span1{:align=>"center"}= f.radio_button :difficulty, 3
						.span1{:align=>"center"}= f.radio_button :difficulty, 4
						.span1{:align=>"center"}= f.radio_button :difficulty, 5
						.span3
				.span6 
					.row-fluid
						.span1
						.span11{:align=>"center"}
							%b Recommendability:
					.row-fluid
						.span4{:align=>"right"} Lowest
						.span1{:align=>"center"} 1
						.span1{:align=>"center"} 2
						.span1{:align=>"center"} 3
						.span1{:align=>"center"} 4
						.span1{:align=>"center"} 5
						.span3{:align=>"left"} Highest
					.row-fluid
						.span4
						.span1{:align=>"center"}= f.radio_button :recommend, 1
						.span1{:align=>"center"}= f.radio_button :recommend, 2
						.span1{:align=>"center"}= f.radio_button :recommend, 3
						.span1{:align=>"center"}= f.radio_button :recommend, 4
						.span1{:align=>"center"}= f.radio_button :recommend, 5
						.span3
	%hr
	.row-fluid
		.span12
			.row-fluid
				.span6
					.row-fluid
						.span12
							%b This course emphasizes:
					.row-fluid
						.span8.offset4{:align=>"center"} Avg. # Hours/Week
					.row-fluid
						.span1{:valign=>"top"}
							%input{:type=>"checkbox", :id=>"readingbox", :onchange=>'setBox("readingbox","readingtext")'}
						.span3
							Reading:
						.span8
							= f.text_field :amount_reading, :id => "readingtext", :disabled => true, :value => ""
					.row-fluid
						.span1{:valign=>"top"}
							%input{:type=>"checkbox", :id=>"writingbox", :onchange=>'setBox("writingbox","writingtext")'}
						.span3
							Writing:
						.span8
							= f.text_field :amount_writing, :id => "writingtext", :disabled => true, :value => ""
					.row-fluid
						.span1{:valign=>"top"}
							%input{:type=>"checkbox", :id=>"groupbox", :onchange=>'setBox("groupbox","grouptext")'}
						.span3
							Groupwork:
						.span8
							= f.text_field :amount_group, :id => "grouptext", :disabled => true, :value => ""
					.row-fluid
						.span1{:valign=>"top"}
							%input{:type=>"checkbox", :id=>"homeworkbox", :onchange=>'setBox("homeworkbox","homeworktext")'}
						.span3
							Homework:
						.span8
							= f.text_field :amount_homework, :id => "homeworktext", :disabled => true, :value => ""
				.span6
					.row-fluid
						.span12
							%b Tell us more about the course/professor:
					.row-fluid
						.span12
							&nbsp
					.row-fluid
						.span12{:align=>"center"}
							= f.text_area :comment, :placeholder=>"Write Your Review!"
	%hr

	

	.actions{:align=>"center"}
		= f.submit 'Submit Review!'








:erb
	<script>

	function setBox(check, text){
		var box = document.getElementById(check);
		if(box.checked)
			document.getElementById(text).disabled = false;
		else
		 document.getElementById(text).disabled = true;    
	}  

	document.getElementById("subdept_select").selectedIndex = -1;
	document.getElementById("season_select").selectedIndex = -1;
	document.getElementById("year_select").selectedIndex = -1;
		
	</script>