<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Section</th>
    <th>User</th>
    <th>Post date</th>
    <th>Rate overall</th>
    <th>Rate professor</th>
    <th>Rate fun</th>
    <th>Rate difficulty</th>
    <th>Rate recommend</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.section_id %></td>
    <td><%= review.user_id %></td>
    <td><%= review.post_date %></td>
    <td><%= review.rate_overall %></td>
    <td><%= review.rate_professor %></td>
    <td><%= review.rate_fun %></td>
    <td><%= review.rate_difficulty %></td>
    <td><%= review.rate_recommend %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_review_path %>
