- content_for :title, "My Reviews"
%h1 My Reviews
- if @reviews.size > 0   
  .row-fluid.my-review-titles
    .span2
      Course
    .span2
      Professor
    .span2
      Semester
    .span2
      Go To Course  
    .span2
      Edit Review  
  - @reviews.each do |review|
    .row-fluid
      .span2
        = link_to "#{review.course.subdepartment.mnemonic} #{review.course.course_number}", review.course
      .span2
        = link_to review.professor.full_name, review.professor
      .span2
        = review.semester ? "#{review.semester.season} #{review.semester.year}" : "-"
      .span2
        = link_to "Go", course_professors_path(:p => review.professor_id, :c => review.course_id)
      .span2
        = link_to "Edit", edit_review_path(review)
  %br
- else
  .row-fluid
    .span12
      You haven't written any reviews yet! :(
  .row-fluid
    .span12
      = link_to "Write one now!", new_review_path, :class => "btn btn-primary"
