<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @review.comment %>
</p>

<p>
  <b>Enjoyability:</b>
  <%= @review.enjoyability %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @review.difficulty %>
</p>

<p>
  <b>Professor Rating:</b>
  <%= @review.professor_rating %>
</p>

<p>
  <b>Recommendability:</b>
  <%= @review.recommend %>
</p>

<p>
  <b>Amount Reading:</b>
  <%= @review.amount_reading %>
</p>

<p>
  <b>Amount Writing:</b>
  <%= @review.amount_writing %>
</p>

<p>
  <b>Amount Group:</b>
  <%= @review.amount_group %>
</p>

<p>
  <b>Amount Homework:</b>
  <%= @review.amount_homework %>
</p>

<p>
  <b>Course:</b>
  <%= @subdepartment.mnemonic %> <%= @course.course_number %>
</p>

<p>
  <b>Professor:</b>
  <%= @professor.first_name %> <%= @professor.last_name %>
</p>

<p>
  <b>Student:</b>
  <%= @review.student_id %>
</p>