<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @review.comment %>
</p>

<p>
  <b>Enjoyability:</b>
  <%= @review.enjoyability %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @review.difficulty %>
</p>

<p>
  <b>Amount Reading:</b>
  <%= @review.amount_reading %>
</p>

<p>
  <b>Course:</b>
  
</p>

<p>
  <b>Student:</b>
  <%= @review.student %>
</p>

<p>
  <b>Semester:</b>
  <%= @review.semester %>
</p>