.header-nav
  .container
    %a.brand{:href => "/"}
      %img{:src => "/images/logo.png"}
    - if current_user
      %ul.nav.navbar-nav.navbar-right.hidden-xs
        .account-header
          .dropdown
            %a{"data-toggle" => "dropdown", :href => "#"} 
              = current_user.email.split("@virginia.edu").first
              %b.caret.orange-caret
            %ul.dropdown-menu{"aria-labelledby" => "account-dropdown", :role => "menu"}
              %li
                %a{href: my_reviews_path}
                  %i.glyphicon.glyphicon-comment
                  My Reviews
              %li
                %a{href: edit_user_registration_path}
                  %i.glyphicon.glyphicon-cog
                  My Account
              %li.divider
              %li
                = link_to 'Logout', destroy_user_session_path, :method => :delete, :tabindex => "-1"
      .visible-xs.mobile-logout
        = link_to 'Logout', destroy_user_session_path, :method => :delete, :tabindex => "-1"
      = form_tag '/search/search', :method => "get", :class => "site-search" do
        .input-group
          .input-group-addon
            %i.glyphicon.glyphicon-search
          = text_field_tag :query, nil, :id => "searchbox"
          %span.input-group-btn
            = button_tag 'SEARCH', :class => 'btn btn-primary'
  .container.aside-navigation
    .hidden-lg
      %ul.aside-nav
        %li.btn.btn-xs.btn-primary.hidden-xs
          %a{:href => "/"}
            %i.glyphicon.glyphicon.glyphicon-home
            Home
        %li.btn.btn-xs.btn-primary
          %a{:href => "/reviews/new"}
            %i.glyphicon.glyphicon-pencil
            Write a review
        %li.btn.btn-xs.btn-primary
          %a{:href => "/browse"}
            %i.glyphicon.glyphicon-list
            Browse All
        %li.btn.btn-xs.btn-primary.hidden-xs
          %a{:href => "/professors"}
            %i.glyphicon.glyphicon-list
            Browse by Professor
        %li.btn.btn-xs.btn-primary.visible-xs
          %a{:href => "/my_reviews"}
            %i.glyphicon.glyphicon-comment
            My Reviews
        %li.btn.btn-xs.btn-primary.visible-xs
          %a{:href => "/users/edit"}
            %i.glyphicon.glyphicon-cog
            My Account