%header
  %nav
    .container
      %a.brand.brand-login{:href => "/"}
        %img{:src => "/images/logo.png"}
      %div
        .login
          = form_for @user, :url => session_path(:user) do |f|
            .row-fluid{:style=>"width:500px;"}
              .span4
                = f.email_field :email, :placeholder => "Email", :id => "login_email"
              .span4
                = f.password_field :password, :placeholder => "Password", :id => "login_password"
              .span4
                = f.submit "Login", :class => "login-button btn btn-primary"
            .row-fluid
              .span4
                = f.check_box :remember_me, :class => "login_remember_box"
                = f.label :remember_me, :class => "login_remember"
              .span4
                = link_to "Forgot your password?", new_password_path(:user), :style => "color:#FFF;font-size:11px;"
