.header-nav{role: "navigation"}
  .container
    %a.brand{:href => "/"}
      %img{:src => "/images/logo.png"}
    - if current_user
      %button.menu-button.navbar-toggle.btn.btn-primary.visible-xs{"data-target" => "#menu-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    - if current_user
      .collapse.navbar-collapse#menu-collapse
        .navbar-right
          %ul.mobile-dropdown.nav.navbar-nav
            %li.search
              = form_tag '/search/search', :method => "get", :class => "site-search" do
                .input-group
                  .input-group-addon
                    %span.glyphicon.glyphicon-search
                  = text_field_tag :query, nil, :id => "searchbox"
                  %span.input-group-btn
                    = button_tag 'SEARCH', :class => 'btn btn-primary'
            %li.visible-xs
              %a{:href => "/"}
                %span.glyphicon.glyphicon.glyphicon-home
                Home
              %a{:href => "/reviews/new"}
                %span.glyphicon.glyphicon-pencil
                Write a review
            %li.visible-xs
              %a{:href => "/browse"}
                %span.glyphicon.glyphicon-list
                Browse All
              %a{:href => "/professors"}
                %span.glyphicon.glyphicon-list
                Browse by Professor
            %li.visible-xs
              %a{:href => "/my_reviews"}
                %span.glyphicon.glyphicon-comment
                My Reviews
              %a{:href => "/users/edit"}
                %span.glyphicon.glyphicon-cog
                My Account
            %li.divider.visible-xs
            %li.visible-xs
              = link_to "theBlog", "http://blog.thecourseforum.com", :target => "_blank"
              = link_to "About", about_path
            %li.visible-xs
              = link_to "Privacy", privacy_path
              = link_to "Terms", terms_path
            %li.icon.visible-xs
              = link_to image_tag("icons/tcf_facebook.png"), "http://www.facebook.com/theCourseForum", :target => '_blank'
              = link_to image_tag("icons/tcf_twitter.png"), "http://www.twitter.com/theCourseForum", :target => '_blank'
            %li.icon.visible-xs
              = link_to image_tag("icons/tcf_reddit.png"), "http://www.reddit.com/r/theCourseForum", :target => '_blank'
              %a{"data-method" => "delete", href: destroy_user_session_path, :rel => "nofollow"}
                %span.glyphicon.glyphicon-off
                Logout
              / = link_to 'Logout', destroy_user_session_path, :method => :delete
          %ul.user-dropdown.nav.navbar-nav.hidden-xs
            .account-header
              .dropdown
                %a{"data-toggle" => "dropdown", :href => "#"} 
                  = current_user.email.split("@virginia.edu").first
                  %b.caret.orange-caret
                %ul.dropdown-menu.dropdown-login{"aria-labelledby" => "account-dropdown", :role => "menu"}
                  %li
                    %a{href: my_reviews_path}
                      %span.glyphicon.glyphicon-comment
                      My Reviews
                  %li
                    %a{href: edit_user_registration_path}
                      %span.glyphicon.glyphicon-cog
                      My Account
                  %li.divider
                  %li
                    %a{"data-method" => "delete", href: destroy_user_session_path, :rel => "nofollow"}
                      %span.glyphicon.glyphicon-off
                      Logout
/ .btn.btn-primary.visible-xs{:style => "border-radius:0px;margin-top:-20px;"}
/   %a{:href => "/reviews/new", :style => "color:white;"}
/     %span.glyphicon.glyphicon-pencil
/     Write a review
- if current_user
  .top-padding-fix.visible-xs
  .aside-navigation.hidden-lg
    %ul.small-nav.hidden-xs
      %li.btn.btn-xs
        %a{:href => "/"}
          %span.glyphicon.glyphicon.glyphicon-home
          Home
      %li.btn.btn-xs
        %a{:href => "/reviews/new"}
          %span.glyphicon.glyphicon-pencil
          Write a review
      %li.btn.btn-xs
        %a{:href => "/browse"}
          %span.glyphicon.glyphicon-list
          Browse All
      %li.btn.btn-xs
        %a{:href => "/professors"}
          %span.glyphicon.glyphicon-list
          Browse by Professor
