!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "theCourseForum"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    = render 'layouts/header_welcome'
    .container.main
      %section.wide#main
        = yield
    = render 'layouts/footer'

